:root {
  --bg-main: #DCD7D5;
  --bg-surface: #BA96C1;
  --primary: #6C5F8D;
  --dark: #4B3F6E;
  --accent: #9C8CB9;
  --font-ui: 'Plus Jakarta Sans', sans-serif;
  --font-editor: 'Lora', serif;
}