:root {
  --bg-main: #C1E8FF;
  --bg-surface: #7DA0CA;
  --primary: #052659;
  --dark: #021024;
  --accent: #5483B3;
  --font-ui: 'Plus Jakarta Sans', sans-serif;
  --font-editor: 'Lora', serif;
}