:root {
  --bg-main: #FFBB94;
  --bg-surface: #FB9590;
  --primary: #A33757;
  --dark: #4C1D3D;
  --accent: #DC586D;
  --font-ui: 'Plus Jakarta Sans', sans-serif;
  --font-editor: 'Lora', serif;
}